
#titre {
  text-align: center;
}

img {
  width: 600px;
}

.introduction {
  font-family: arial;
  font-size: 25px;
}

h2 {
  text-decoration: underline;
  font-size: 25px;
  font-family: arial;
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}
