#titre {
  display: flex;

}


.introduction, h2 {
  font-family: arial;
  font-size: 25px;
}

h2, h3 {
  text-decoration: underline;
  font-family: arial;
}

li {
  font-size: 20px;
}

body{
  background-color: black;
}
.article {
  background-color: #2A4D6E;
}
.team {
  display: flex;
}
